<div class="page">

  <div class="pageHeader">
    <mat-icon class="icon" fontSet="material-symbols-rounded">function</mat-icon>
    <h1>{{ "header.menu.calculator" | translate }}</h1>
  </div>

  <div *ngIf="!showResult">
    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>{{ "header.menu.news" | translate }}</h2>
      </mat-card-header>
      <mat-card-content>
        <app-news [showFull]="false"></app-news>
        <p></p>
        <a href="/news">{{ "calculator.allnews" | translate }}</a>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="showResult">
    <div class="disclaimer">
      {{ "calculator.disclaimer" | translate }}
    </div>

    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>{{ "calculator.result.title" | translate }}</h2>
      </mat-card-header>
      <mat-card-content>

        <div>
          <mat-slide-toggle
            [checked]="showStockColumns"
            (click)="showStockColumns = !showStockColumns">
            {{ "calculator.result.stocksimul" | translate }}
          </mat-slide-toggle>
        </div>

        <div>
          <table>
            <tr class="tableHeader">
              <th>{{ "calculator.result.tblheader.col-1" | translate }}</th>
              <th *ngIf="showStockColumns"
                  matTooltip="{{ 'calculator.result.tblheader.col-2-tt' | translate }}">
                {{ "calculator.result.tblheader.col-2" | translate }}
              </th>
              <th *ngIf="showStockColumns">{{ "calculator.result.tblheader.col-3" | translate }}</th>
              <th *ngIf="showStockColumns">{{ "calculator.result.tblheader.col-4" | translate }}</th>
              <th *ngIf="showStockColumns">{{ "calculator.result.tblheader.col-5" | translate }}</th>
              <th>{{ "calculator.result.tblheader.col-6" | translate }}</th>
              <th>{{ "calculator.result.tblheader.col-7" | translate }}</th>
              <th>{{ "calculator.result.tblheader.col-8" | translate }}</th>
              <th>{{ "calculator.result.tblheader.col-9" | translate }}</th>
              <th>{{ "calculator.result.tblheader.col-10" | translate }}</th>
              <th>{{ "calculator.result.tblheader.col-11" | translate }}</th>
              <th>{{ "calculator.result.tblheader.col-12" | translate }}</th>
              <th class="priceGains">{{ "calculator.result.tblheader.col-13" | translate }}</th>
              <th class="priceGains">{{ "calculator.result.tblheader.col-14" | translate }}</th>
            </tr>
            <ng-container *ngFor="let elem of result; let y = index">
              <tr [matTooltip]="contentRowTooltip(y)">
                <td [ngClass]="{'baseRow': y == 0}">
                  {{ currentYear + y }}
                </td>
                <td [ngClass]="{'baseRow': y == 0}" *ngIf="showStockColumns">
                  {{ elem.shares.purchasePrice | number:'1.2-2':'de-DE' }}
                </td>
                <td [ngClass]="{'baseRow': y == 0}" *ngIf="showStockColumns">
                  {{ elem.shares.averagePurchasePrice | number:'1.2-2':'de-DE' }}
                </td>
                <td [ngClass]="{'baseRow': y == 0}" *ngIf="showStockColumns">
                  {{ elem.dividend.currentDividendPerShare | number:'1.2-2':'de-DE' }}€ /
                  {{ elem.kpis.dividendPercentage | number:'1.2-2':'de-DE' }}%
                </td>
                <td [ngClass]="{'baseRow': y == 0}" *ngIf="showStockColumns">
                  {{ elem.kpis.accumulatedStockAmount | number:'1.2-2':'de-DE' }} /
                  {{ elem.shares.stockAmount | number:'1.2-2':'de-DE' }}
                </td>
                <td [ngClass]="{'baseRow': y == 0}">
                  {{ elem.kpis.accumulatedPaymentsIncludingDividends | number:'1.2-2':'de-DE' }}
                </td>
                <td [ngClass]="{'baseRow': y == 0}">
                  <span *ngIf="y > 0">
                    {{ elem.kpis.accumulatedPayments | number:'1.2-2':'de-DE' }}
                  </span>
                  <span *ngIf="y == 0">
                    -
                  </span>
                </td>
                <td [ngClass]="{'baseRow': y == 0}">
                  <span *ngIf="y > 0">
                    {{ elem.kpis.investedSumPerYear | number:'1.2-2':'de-DE' }}
                  </span>
                  <span *ngIf="y == 0">
                    -
                  </span>
                </td>
                <td [ngClass]="{'baseRow': y == 0}">
                  <span *ngIf="y > 0">
                    {{ elem.kpis.dividendPayout | number:'1.2-2':'de-DE' }}
                  </span>
                  <span *ngIf="y == 0">
                    -
                  </span>
                </td>
                <td [ngClass]="{'baseRow': y == 0}">
                  <span *ngIf="y > 0">
                    {{ elem.kpis.dividendPayoutReinvested | number:'1.2-2':'de-DE' }}
                  </span>
                  <span *ngIf="y == 0">
                    -
                  </span>
                </td>
                <td [ngClass]="{'baseRow': y == 0}">
                  <span *ngIf="y > 0">
                    {{ elem.kpis.yearlyAbsoluteDividendGrowth | number:'1.2-2':'de-DE' }}
                  </span>
                  <span *ngIf="y == 0">
                    -
                  </span>
                </td>
                <td [ngClass]="{'baseRow': y == 0}">
                  <span *ngIf="y > 0">
                    {{ elem.kpis.yearlyInvestmentToReinvestedDividendFactor | number:'1.2-2':'de-DE' }}
                  </span>
                  <span *ngIf="y == 0">
                    -
                  </span>
                </td>
                <td [ngClass]="{'baseRow': y == 0}">
                  {{ elem.kpis.accumulatedPriceGains | number:'1.2-2':'de-DE' }}
                </td>
                <td [ngClass]="{'baseRow': y == 0}">
                  {{ elem.kpis.accumulatedAssetsInclundingPriceGains | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </mat-card-content>
    </mat-card>

    <p></p>

    <div class="summary">
      <div class="summaryResult">
        <mat-card appearance="outlined">
          <mat-card-header>
            <h2>{{ "calculator.summary.title" | translate }}</h2>
          </mat-card-header>
          <mat-card-content>
            <table>
              <tr class="tableHeader">
                <th
                  colspan="2">{{ "calculator.summary.tbl-header" | translate }}&nbsp;{{ currentYear + getYears() + 1 }}
                </th>
              </tr>
              <tr>
                <td class="summaryCell">{{ "calculator.summary.tblrow.row-1" | translate }}</td>
                <td
                  class="summaryCell">{{ result[getYears()].kpis.accumulatedPaymentsIncludingDividends | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">{{ "calculator.summary.tblrow.row-2" | translate }}</td>
                <td
                  class="summaryCell">{{ result[getYears()].kpis.accumulatedPayments | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">{{ "calculator.summary.tblrow.row-3" | translate: {value: getYears()} }}</td>
                <td
                  class="summaryCell">{{ getAccumulatedDividends() | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">{{ "calculator.summary.tblrow.row-4" | translate: {value: getYears()} }}</td>
                <td
                  class="summaryCell">{{ getAccumulatedDividendsReinvested() | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">{{ "calculator.summary.tblrow.row-5" | translate: {value: getYears()} }}</td>
                <td
                  class="summaryCell">{{ (getAccumulatedDividends() - getAccumulatedDividendsReinvested()) | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td
                  class="summaryCell">{{ "calculator.summary.tblrow.row-6" | translate }} {{ currentYear + getYears() + 1 }}
                  (%)
                </td>
                <td
                  class="summaryCell">{{ getFinalDividendPercentage() | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td
                  class="summaryCell">{{ "calculator.summary.tblrow.row-7" | translate }} {{ currentYear + getYears() + 1 }}
                  (€)
                </td>
                <td
                  class="summaryCell">{{ getFinalDividendIncome() | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td
                  class="summaryCell">{{ "calculator.summary.tblrow.row-8" | translate }} {{ currentYear + getYears() + 1 }}
                  (€)
                </td>
                <td
                  class="summaryCell">{{ (getFinalDividendIncome() / 12) | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="chart">
        <mat-card appearance="outlined">
          <mat-card-header>
            <h2>{{ "calculator.graph.title" | translate }}</h2>
          </mat-card-header>
          <mat-card-content>
            <mat-tab-group>
              <mat-tab label='{{ "calculator.graph.investing.title" | translate }}'>
                <div>
                  <ngx-charts-line-chart
                    [results]="dataPayments"
                    [view]="view"
                    [animations]="true"
                    [showGridLines]="true"
                    [legend]="true"
                    [legendTitle]="graphLegend()"
                    [roundDomains]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [yAxisTickFormatting]="currencyFormatterLC">
                  </ngx-charts-line-chart>
                </div>
              </mat-tab>
              <mat-tab label='{{ "calculator.graph.totalassets.title" | translate }}'>
                <div>
                  <ngx-charts-line-chart
                    [results]="dataTotalAssets"
                    [view]="view"
                    [animations]="true"
                    [showGridLines]="true"
                    [legend]="true"
                    [legendTitle]="graphLegend()"
                    [roundDomains]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [yAxisTickFormatting]="currencyFormatterLC">
                  </ngx-charts-line-chart>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <p></p>

  <form [formGroup]="calculatorForm">
    <div class="formContainer">
      <mat-card appearance="outlined">
        <mat-card-header>
          <h2>{{ "calculator.form.title" | translate }}</h2>
        </mat-card-header>
        <mat-card-content>

          <div>
            <mat-slider
              [max]="100"
              [min]="1"
              [step]="1"
              [discrete]="true"
              [showTickMarks]="true">
              <input matSliderThumb formControlName="years" #slider>
            </mat-slider>
          </div>
          <div class="yearSlider">
            {{ "calculator.form.interval" | translate }}: {{ getYears() }}
            ({{ "calculator.form.until" | translate }} {{ getUntilYear() }})
          </div>

          <div class="formRow">
            <mat-form-field>
              <mat-label>{{ "calculator.form.initialInvestment" | translate }}</mat-label>
              <input matInput type="number" formControlName="initialInvestment">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "calculator.form.initialDividends" | translate }}</mat-label>
              <input matInput type="number" formControlName="initialDividends">
            </mat-form-field>
          </div>

          <div class="formRow">
            <mat-form-field>
              <mat-label>{{ "calculator.form.initialPriceGains" | translate }}</mat-label>
              <input matInput type="number" formControlName="initialPriceGains">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "calculator.form.priceGainPercentage" | translate }}</mat-label>
              <input min="0" max="100" matInput type="number" formControlName="priceGainPercentage">
            </mat-form-field>
          </div>

          <div class="formRow">
            <mat-form-field>
              <mat-label>{{ "calculator.form.yearlyInvestment" | translate }}</mat-label>
              <input matInput type="number" formControlName="yearlyInvestment">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "calculator.form.yearlyInvestmentIncrease" | translate }}</mat-label>
              <input matInput type="number" formControlName="yearlyInvestmentIncrease">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "calculator.form.dividendReinvestmentPercentage" | translate }}</mat-label>
              <input matInput type="number" formControlName="dividendReinvestmentPercentage">
            </mat-form-field>
          </div>

          <div class="formRow">
            <mat-form-field>
              <mat-label>{{ "calculator.form.initialDividendPercentage" | translate }}</mat-label>
              <input min="0" max="100" matInput type="number" formControlName="initialDividendPercentage">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "calculator.form.yearlyDividendPercentageIncrease" | translate }}</mat-label>
              <input min="0" max="100" matInput type="number" formControlName="yearlyDividendPercentageIncrease">
            </mat-form-field>
          </div>

          <div class="formRow">
            <mat-form-field>
              <mat-label>{{ "calculator.form.taxPercentage" | translate }}</mat-label>
              <input min="0" max="100" matInput type="number" formControlName="taxPercentage">
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ "calculator.form.yearlyTaxFreeSum" | translate }}</mat-label>
              <input min="0" matInput type="number" formControlName="yearlyTaxFreeSum">
            </mat-form-field>
          </div>

          <div class="button-container">
            <button mat-fab extended (click)="doCalculate()" [disabled]="!calculatorForm.valid">
              <mat-icon fontSet="material-symbols-rounded">money_bag</mat-icon>
              {{ "calculator.form.submit" | translate }}
            </button>

            <button mat-fab extended (click)="doLoadStorage()" [matMenuTriggerFor]="loadMenu"
                    matTooltip='{{ "calculator.form.load-tooltip" | translate }}'>
              <mat-icon fontSet="material-symbols-rounded">upload_file</mat-icon>
              {{ "calculator.form.load" | translate }}
            </button>

            <button mat-fab extended [matMenuTriggerFor]="saveMenu" [disabled]="!calculatorForm.valid"
                    matTooltip='{{ "calculator.form.save-tooltip" | translate }}'>
              <mat-icon fontSet="material-symbols-rounded">save</mat-icon>
              {{ "calculator.form.save" | translate }}
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>

<mat-menu #loadMenu="matMenu" yPosition="above">
  <button mat-menu-item (click)="doLoadItem(0)"
          [disabled]="!storageData[0].inuse">{{ "calculator.form.slot-1" | translate }}
  </button>
  <button mat-menu-item (click)="doLoadItem(1)"
          [disabled]="!storageData[1].inuse">{{ "calculator.form.slot-2" | translate }}
  </button>
  <button mat-menu-item (click)="doLoadItem(2)"
          [disabled]="!storageData[2].inuse">{{ "calculator.form.slot-3" | translate }}
  </button>
  <button mat-menu-item (click)="doLoadItem(3)"
          [disabled]="!storageData[2].inuse">{{ "calculator.form.slot-4" | translate }}
  </button>
</mat-menu>

<mat-menu #saveMenu="matMenu" yPosition="above">
  <button mat-menu-item (click)="doSave(0)">{{ "calculator.form.slot-1" | translate }}</button>
  <button mat-menu-item (click)="doSave(1)">{{ "calculator.form.slot-2" | translate }}</button>
  <button mat-menu-item (click)="doSave(2)">{{ "calculator.form.slot-3" | translate }}</button>
  <button mat-menu-item (click)="doSave(3)">{{ "calculator.form.slot-4" | translate }} 3</button>
</mat-menu>
