<div class="page">

  <div class="pageHeader">
    <mat-icon class="icon" fontSet="material-symbols-rounded">function</mat-icon>
    <h1>Dividendenrechner</h1>
  </div>

  <div *ngIf="!showResult">
    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>Neuigkeiten</h2>
      </mat-card-header>
      <mat-card-content>
        <app-news [showFull]="false"></app-news>
        <p></p>
        <a href="/news">Alle Neuigkeiten</a>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="showResult">
    <div class="disclaimer">
      Alle Berechnungen auf dieser Seite erfolgen ohne Gewähr und es kann und wird keine Garantie für die Richtigkeit
      der Ergebnisse übernommen!
    </div>

    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>Entwicklung über die Zeit</h2>
      </mat-card-header>
      <mat-card-content>

        <div>
          <mat-slide-toggle
            [checked]="showStockColumns"
            (click)="showStockColumns = !showStockColumns">
            Zeige Aktien-Simulation
          </mat-slide-toggle>
        </div>

        <div>
          <table>
            <tr class="tableHeader">
              <th>Jahr</th>
              <th *ngIf="showStockColumns"
                  matTooltip="Für die Berechnung werden Aktienkäufe zu diesem Kurs simuliert.">
                Simulierter Aktienkurs
              </th>
              <th *ngIf="showStockColumns">Durchschn. Kaufkurs</th>
              <th *ngIf="showStockColumns">Dividende pro Aktie / Dividenden-Rendite</th>
              <th *ngIf="showStockColumns">Aktien Gesamt / Jahr</th>
              <th>Einzahlung Summe (inkl. reinvestierte Dividenden) (€)</th>
              <th>Einzahlung Summe (ohne reinvestierte Dividenden) (€)</th>
              <th>Einzahlung aktuelles Jahr (€)</th>
              <th>Dividenden aktuelles Jahr (€)</th>
              <th>Reinvestierte Dividenden aktuelles Jahr (€)</th>
              <th>Veränderung Dividende (€)</th>
              <th>Jährliche reinvestierte Dividende / Jährlicher Investitionsbeitrag (Faktor)</th>
              <th class="priceGains">Kursgewinne</th>
              <th class="priceGains">Summe Vermögen (inkl. Kurgewinne)</th>
            </tr>
            <tr *ngFor="let elem of result; let y = index">
              <td>{{ currentYear + y }}</td>
              <td *ngIf="showStockColumns">{{ elem.shares.purchasePrice | number:'1.2-2':'de-DE' }}</td>
              <td *ngIf="showStockColumns">{{ elem.shares.averagePurchasePrice | number:'1.2-2':'de-DE' }}</td>
              <td *ngIf="showStockColumns">
                {{ elem.dividend.currentDividendPerShare | number:'1.2-2':'de-DE' }}€ /
                {{ elem.kpis.dividendPercentage | number:'1.2-2':'de-DE' }}%
              </td>
              <td *ngIf="showStockColumns">
                {{ elem.kpis.accumulatedStockAmount | number:'1.2-2':'de-DE' }} /
                {{ elem.shares.stockAmount | number:'1.2-2':'de-DE' }}
              </td>
              <td>{{ elem.kpis.accumulatedPaymentsIncludingDividends | number:'1.2-2':'de-DE' }}</td>
              <td>{{ elem.kpis.accumulatedPayments | number:'1.2-2':'de-DE' }}</td>
              <td>{{ elem.shares.payment | number:'1.2-2':'de-DE' }}</td>
              <td>{{ elem.kpis.dividendPayout | number:'1.2-2':'de-DE' }}</td>
              <td>{{ elem.kpis.dividendPayoutReinvested | number:'1.2-2':'de-DE' }}</td>
              <td>{{ elem.kpis.yearlyAbsoluteDividendGrowth | number:'1.2-2':'de-DE' }}</td>
              <td>{{ elem.kpis.yearlyInvestmentToReinvestedDividendFactor | number:'1.2-2':'de-DE' }}</td>
              <td>{{ elem.kpis.accumulatedPriceGains | number:'1.2-2':'de-DE' }}</td>
              <td>{{ elem.kpis.accumulatedAssetsInclundingPriceGains | number:'1.2-2':'de-DE' }}</td>
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>

    <p></p>

    <div class="summary">
      <div class="summaryResult">
        <mat-card appearance="outlined">
          <mat-card-header>
            <h2>Zusammenfassung</h2>
          </mat-card-header>
          <mat-card-content>
            <table>
              <tr class="tableHeader">
                <th colspan="2">Zusammenfassung und passives Einkommen ab dem
                  Jahr {{ currentYear + getYears() + 1 }}
                </th>
              </tr>
              <tr>
                <td class="summaryCell">Einzahlung Summe (inkl. reinvestierte Dividenden) (€)</td>
                <td
                  class="summaryCell">{{ result[getYears()].kpis.accumulatedPaymentsIncludingDividends | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">Einzahlung Summe (ohne reinvestierte Dividenden) (€)</td>
                <td
                  class="summaryCell">{{ result[getYears()].kpis.accumulatedPayments | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">Dividenden über {{ getYears() }} Jahre (€)</td>
                <td
                  class="summaryCell">{{ getAccumulatedDividends() | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">Davon reinvestierte Dividenden über {{ getYears() }} Jahre (€)</td>
                <td
                  class="summaryCell">{{ getAccumulatedDividendsReinvested() | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">Gesparte (nicht reinvestierte) Dividenden über {{ getYears() }} Jahre (€)</td>
                <td
                  class="summaryCell">{{ (getAccumulatedDividends() - getAccumulatedDividendsReinvested()) | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">Dividendenrendite im Jahr {{ currentYear + getYears() + 1 }} (%)</td>
                <td
                  class="summaryCell">{{ getFinalDividendPercentage() | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">Jährliches passives Einkommen ab dem Jahr {{ currentYear + getYears() + 1 }} (€)
                </td>
                <td
                  class="summaryCell">{{ getFinalDividendIncome() | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
              <tr>
                <td class="summaryCell">Monatliches passives Einkommen ab dem Jahr {{ currentYear + getYears() + 1 }}
                  (€)
                </td>
                <td
                  class="summaryCell">{{ (getFinalDividendIncome() / 12) | number:'1.2-2':'de-DE' }}
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="chart">
        <mat-card appearance="outlined">
          <mat-card-header>
            <h2>Grafische Darstellung</h2>
          </mat-card-header>
          <mat-card-content>
            <ngx-charts-line-chart
              [results]="data"
              [view]="view"
              [animations]="true"
              [showGridLines]="true"
              [legend]="true"
              [legendTitle]="legendTitle"
              [roundDomains]="true"
              [xAxis]="true"
              [yAxis]="true"
              [yAxisTickFormatting]="currencyFormatterLC"
            ></ngx-charts-line-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <p></p>

  <form [formGroup]="calculatorForm">
    <div class="formContainer">
      <mat-card appearance="outlined">
        <mat-card-header>
          <h2>Berechnungsgrundlage</h2>
        </mat-card-header>
        <mat-card-content>

          <div>
            <mat-slider
              [max]="100"
              [min]="1"
              [step]="1"
              [discrete]="true"
              [showTickMarks]="true">
              <input matSliderThumb formControlName="years" #slider>
            </mat-slider>
          </div>
          <div class="yearSlider">
            Investitionszeitraum (Jahre): {{ getYears() }} (bis {{ getUntilYear() }})
          </div>

          <div class="formRow">
            <mat-form-field>
              <mat-label>Bereits investiertes Kapital (€)</mat-label>
              <input matInput type="number" formControlName="initialInvestment">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Bereits bestehende Kursgewinne (€)</mat-label>
              <input matInput type="number" formControlName="initialPriceGains">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Erwartete jährliche Kurssteigerung (%)</mat-label>
              <input min="0" max="100" matInput type="number" formControlName="priceGainPercentage">
            </mat-form-field>
          </div>

          <div class="formRow">
            <mat-form-field>
              <mat-label>Investitionsbetrag pro Jahr (€)</mat-label>
              <input matInput type="number" formControlName="yearlyInvestment">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Jährliche Steigerung (€)</mat-label>
              <input matInput type="number" formControlName="yearlyInvestmentIncrease">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Re-Investition erhaltener Dividenden (%)</mat-label>
              <input matInput type="number" formControlName="dividendReinvestmentPercentage">
            </mat-form-field>
          </div>

          <div class="formRow">
            <mat-form-field>
              <mat-label>Initiale jährliche Dividendenrendite (%)</mat-label>
              <input min="0" max="100" matInput type="number" formControlName="initialDividendPercentage">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Jährliche Steigerung der Dividende (%)</mat-label>
              <input min="0" max="100" matInput type="number" formControlName="yearlyDividendPercentageIncrease">
            </mat-form-field>
          </div>

          <div class="formRow">
            <mat-form-field>
              <mat-label>Steuern auf Dividenden (%)</mat-label>
              <input min="0" max="100" matInput type="number" formControlName="taxPercentage">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Jährlicher verfügbarer Steuerfreibetrag (€)</mat-label>
              <input min="0" matInput type="number" formControlName="yearlyTaxFreeSum">
            </mat-form-field>
          </div>

          <div class="button-container">
            <button mat-fab extended (click)="doCalculate()" [disabled]="!calculatorForm.valid">
              <mat-icon fontSet="material-symbols-rounded">money_bag</mat-icon>
              Berechnen
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>


