<div class="container">

  <div class="header">
    <div>
      <img src="images/logo.png" width="100px" height="100px"/>
    </div>

    <div class="title">
      <span class="mainTitle">DividendenTraum</span><br>
      <span class="subTitle">Der AktienTraum Dividendenrechner</span>
    </div>

    <div class="mainMenu">
      <div class="mainMenuItem" (click)="showCalculator()">
        <mat-icon class="icon" fontSet="material-symbols-rounded">calculate</mat-icon>
        Dividendenrechner
      </div>
      <div class="mainMenuItem" (click)="openGithub()">
        <mat-icon class="icon" fontSet="material-symbols-rounded">integration_instructions</mat-icon>
        Source Code auf Github
      </div>
    </div>

  </div>

  @if (calculatorPage()) {
    <div class="content">
      <app-calculator></app-calculator>
    </div>
  }

  @if (imprintPage()) {
    <div class="content">
      <app-imprint></app-imprint>
    </div>
  }

  @if (privacyPolicyPage()) {
    <div class="content">
      <app-privacy-policy></app-privacy-policy>
    </div>
  }

  <div class="footer">
    <div>
      <img src="images/logo.png" width="200px" height="200px"/>
    </div>

    <div class="citation">
      <span class="citationText">
        Wenn jemand gute Aktien hat, wäre er verrückt, wenn er nur wegen eines Kursrückschlags verkaufen würde. Ich suche Unternehmen, die ich verstehe und von deren Zukunftsaussichten ich überzeugt bin.
      </span>
      <br>
      <span class="citationAuthor">
        Warren Buffet
      </span>
    </div>

    <div class="footerMenu">
      <p>
        <span class="footerMenuItem" (click)="showImpressum()">Impressum</span>
      </p>
      <p>
        <span class="footerMenuItem" (click)="showPrivacyPolicy()">Datenschutzerklärung</span>
      </p>
    </div>


  </div>

</div>



