<div class="container">

  <div class="headerContainer">

    <div class="header">
      <div class="logo" (click)="showCalculator()">
        <img src="images/logo.png" width="100px" height="100px"/>
      </div>

      <div class="title" (click)="showCalculator()">
        <span class="mainTitle">{{ "header.title" | translate }}</span><br>
        <span class="subTitle">{{ "header.subtitle" | translate }}</span>
      </div>

      <div class="mainMenu">
        <div class="mainMenuItem" (click)="showCalculator()">
          <mat-icon class="icon" fontSet="material-symbols-rounded">function</mat-icon>
          {{ "header.menu.calculator" | translate }}
        </div>
        <div class="mainMenuItem" (click)="showCommunity()">
          <mat-icon class="icon" fontSet="material-symbols-rounded">groups</mat-icon>
          {{ "header.menu.community" | translate }}
        </div>
        <div class="mainMenuItem" (click)="showNews()">
          <mat-icon class="icon" fontSet="material-symbols-rounded">brand_awareness</mat-icon>
          {{ "header.menu.news" | translate }}
        </div>
        <div class="mainMenuItem" (click)="showDocumentation()">
          <mat-icon class="icon" fontSet="material-symbols-rounded">menu_book</mat-icon>
          {{ "header.menu.documentation" | translate }}
        </div>
      </div>
    </div>

    <div class="languageSelection">
      <img class="germanFlag" src="images/german-flag.png" width="25px" height="15px" (click)="switchToGerman()"/>
      <img class="englishFlag" src="images/english-flag.png" width="25px" height="15px" (click)="switchToEnglish()"/>
    </div>
  </div>

  @if (calculatorPage()
  || (!communityPage() && !newsPage() && !documentationPage() && !imprintPage() && !privacyPolicyPage())) {
    <div class="content">
      <app-calculator></app-calculator>
    </div>
  }

  @if (communityPage()) {
    <div class="content">
      <app-community></app-community>
    </div>
  }

  @if (newsPage()) {
    <div class="content">
      <app-news [showFull]="true"></app-news>
    </div>
  }

  @if (documentationPage()) {
    <div class="content">
      <app-documentation></app-documentation>
    </div>
  }

  @if (imprintPage()) {
    <div class="content">
      <app-imprint></app-imprint>
    </div>
  }

  @if (privacyPolicyPage()) {
    <div class="content">
      <app-privacy-policy></app-privacy-policy>
    </div>
  }

  <div class="footer">
    <div>
      <img src="images/logo.png" width="250px" height="250px"/>
    </div>

    <div class="citation">
      <span class="citationText">
        {{ "footer.cite" | translate }}
      </span>
      <br>
      <span class="citationAuthor">
        Warren Buffet
      </span>
    </div>

    <div class="footerMenu">
      <p>
        <span class="footerMenuItem" (click)="showImpressum()">{{ "footer.menu.imprint" | translate }}</span>
      </p>
      <p>
        <span class="footerMenuItem" (click)="showPrivacyPolicy()">{{ "footer.menu.privacy" | translate }}</span>
      </p>
    </div>
  </div>

  <div class="copyright">
    Copyright © 2024 AktienTraum - Release 2.1.0 (01.10.2024)
  </div>

</div>



