@if (!showFull) {
  <mat-card>
    <mat-card-header class="newHeadline">Release 1.0.1 (28.09.2024)</mat-card-header>
    <mat-card-content>
      <span
        [innerHTML]="'news.release-1.0.1' | translate">
      </span>
    </mat-card-content>
  </mat-card>
}


@if (showFull) {
  <div class="page">

    <div class="pageHeader">
      <mat-icon class="icon" fontSet="material-symbols-rounded">brand_awareness</mat-icon>
      <h1>{{ "header.menu.news" | translate }}</h1>
    </div>

    <mat-card>
      <mat-card-header class="newHeadline">Release 1.0.1 (28.09.2024)</mat-card-header>
      <mat-card-content>
        <span
          [innerHTML]="'news.release-1.0.1' | translate">
        </span>
      </mat-card-content>
    </mat-card>

    <p></p>

    <mat-card>
      <mat-card-header class="newHeadline">Release 1.0.0 (28.09.2024)</mat-card-header>
      <mat-card-content>
        <span
          [innerHTML]="'news.release-1.0.0' | translate">
        </span>
      </mat-card-content>
    </mat-card>

  </div>
}

