<h1>{{ "footer.menu.imprint" | translate }}</h1>

<div class="imprintText">
  {{ "imprint.preface" | translate }}
</div>

<h3>{{ "imprint.contact" | translate }}</h3>
<p>Thomas Jaspers: tritom42&#64;googlemail.com</p>

<h3>{{ "imprint.header-1" | translate }}</h3>
<div class="imprintText">
  {{ "imprint.content-1" | translate }}
</div>

<h3>{{ "imprint.header-2" | translate }}</h3>
<div class="imprintText">
  {{ "imprint.content-2" | translate }}
</div>

<h3>{{ "imprint.header-3" | translate }}</h3>
<div class="imprintText">
  {{ "imprint.content-3" | translate }}
</div>
<p></p>
{{ "imprint.disclaimer" | translate }} <a href="https://www.e-recht.de" target="_blank">e-recht24.de</a>

