<div class="page">

  <div class="pageHeader">
    <mat-icon class="icon" fontSet="material-symbols-rounded">groups</mat-icon>
    <h1>{{ "header.menu.community" | translate }}</h1>
  </div>

  <div>
    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>Philosophie</h2>
      </mat-card-header>
      <mat-card-content>
        <p class="paragraph">Der Dividendenrechner ist ein reines Spaßprojekt ohne irgendein kommerzielles Interesse.
        Ich wollte zunächst einfach meine Idee eines Dividendenrechners umsetzen. Insbesondere über Twitter/X sind dann
        viele super Ideen eingeflossen.</p>
        <p class="paragraph">So würde ich heute sagen, dass ist bereits ein kleines Community-Projekt und ich bin gespannt was die Zeit hier noch bringt.</p>
      </mat-card-content>
    </mat-card>

    <p></p>

    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>Kontakt</h2>
      </mat-card-header>
      <mat-card-content>
        E-Mail Addresse kommt noch, aber bis dahin bin ich auf jeden Fall über Twitter/X zu erreichen:
        <a href="https://x.com/AktienTraum" target="_blank">&#64;AktienTraum</a>.
      </mat-card-content>
    </mat-card>

    <p></p>

    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>Source Code</h2>
      </mat-card-header>
      <mat-card-content>
        Wer Interesse hat kann sich den Source Code zum Projekt gerne auf
        <a href="https://github.com/AktienTraum/dividendenrechner" target="_blank">Github</a> anschauen.
      </mat-card-content>
    </mat-card>


</div>
