<div class="page">

  <div class="pageHeader">
    <mat-icon class="icon" fontSet="material-symbols-rounded">groups</mat-icon>
    <h1>{{ "header.menu.community" | translate }}</h1>
  </div>

  <div>
    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>{{ "community.philosophy.title" | translate }}</h2>
      </mat-card-header>
      <mat-card-content>
        <span
          [innerHTML]="'community.philosophy.content' | translate">
        </span>
      </mat-card-content>
    </mat-card>

    <p></p>

    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>{{ "community.contact.title" | translate }}</h2>
      </mat-card-header>
      <mat-card-content>
        <span
          [innerHTML]="'community.contact.content' | translate">
        </span>&nbsp;
        <a href="https://x.com/AktienTraum" target="_blank">&#64;AktienTraum</a>.
      </mat-card-content>
    </mat-card>

    <p></p>

    <mat-card appearance="outlined">
      <mat-card-header>
        <h2>{{ "community.sourcecode.title" | translate }}</h2>
      </mat-card-header>
      <mat-card-content>
        <span
          [innerHTML]="'community.sourcecode.content' | translate">
        </span>&nbsp;
        <a href="https://github.com/AktienTraum/dividendenrechner" target="_blank">Github</a>
      </mat-card-content>
    </mat-card>


</div>
