@use '@angular/material' as mat;
@import 'material-symbols';

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;

  @include mat.all-component-themes($theme);
}

html {
  height: 100%;
}

.icon {
  color: #222222;
  transform: scale(1.3);
  margin-right: 8px;
}

.page {
  padding-top: 16px;
}

.pageHeader {
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 14px;
  cursor: pointer;
  margin-right: 16px;
}

.disclaimer {
  border-left: 2px solid #000;
  padding-left: 8px;
  background: #DFDFFE;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 100%;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
